In [ ]:
'''
This file reads in goodreads data and converts DataFrames to CSV files to upload to MongoDB
'''

In [6]:
import pandas as pd

In [19]:
bookurl = 'https://raw.githubusercontent.com/zygmuntz/goodbooks-10k/master/books.csv'
ratingsurl = 'https://raw.githubusercontent.com/zygmuntz/goodbooks-10k/master/ratings.csv'
booktagsurl = 'https://raw.githubusercontent.com/zygmuntz/goodbooks-10k/master/book_tags.csv'
tagsurl = 'https://raw.githubusercontent.com/zygmuntz/goodbooks-10k/master/tags.csv'

In [15]:
book_df = pd.read_csv(bookurl)
ratings_df = pd.read_csv(ratingsurl)
booktags_df = pd.read_csv(booktagsurl)

In [66]:
tags_df = pd.read_csv(tagsurl)

In [67]:
tags_df.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [68]:
tags_df['tag_words'] = tags_df.tag_name.apply(lambda x: x.split('-'))

In [69]:
tags_df.head()

   tag_id tag_name    tag_words
0       0        -         [, ]
1       1     --1-    [, , 1, ]
2       2    --10-   [, , 10, ]
3       3    --12-   [, , 12, ]
4       4   --122-  [, , 122, ]

In [70]:
book_df.to_csv('books.csv', index = False, sep = ',')
ratings_df.to_csv('ratings.csv', index = False, sep = ',')
booktags_df.to_csv('booktags.csv', index = False, sep = ',')
tags_df.to_csv('tags.csv', index = False, sep = ',')